
body{
    color: black !important;
    border: 1px solid black;
    overflow: hidden;
}

#btnJs{
    /* width: 30px; */
width: 110px;
display: flex;
    color: #c8be4c;
    padding: 0px;
    background-color: transparent;
    
    border: 1px solid transparent; 
}
#btnJs span{
    margin: 0px;
    width: 25px;
}
#btnJs svg{
    width: 25px;
}
.active{
    border-bottom:1px solid  #5850c0 !important;

}
.diactive{
    border-bottom: 1px solid transparent !important;
}
.headerB{
    border-bottom: 2px solid #5850c0 !important;
    height: 41px !important;
}
.messageArea{
    margin-bottom: 70px !important;
}
.asidePanel{
    border: 1px solid rgba(0, 0, 0, 0.7) !important;
    position: absolute;
    right: 0px;
    width: 560px;
    height: calc(100vh - 44px);
    /* background: var(--mainGradiant); */
    background:  rgba(38, 38, 38, 0.496) !important;
}
.mainContainer{
    height: calc(100vh - 41px) !important;
}
.terminal{
    width: calc(100vw - 560px);
    border: 1px solid #5850c0 !important;
}
.terminalH{
    display: flex;
}
.terminalH span{
color: gray; 
padding:0px 10px; 
border-bottom: 1px solid #5850c0;  
}
.terminalH svg{
    padding:0px 5px; 
    width: 30px;
    border-bottom: 1px solid #5850c0;  


}
.playBtn{
    margin-right: 20px;
    margin-top: 5px;
    
}
.botText{
    display: inline-block;
    background: #fff;
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: 2px 2px 20px -2px rgba(60,51,176,0.2);
    color: rgba(60,51,176,1);
}
.userText{
    background: #5850c0;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  margin-left: auto;
  padding: 10px;
  padding-bottom: 25px;
  color: #fff;
}

div.msg-box1
{
    border: 3px solid gray;
    background-color: transparent;
    /* box-shadow: 0 -7px 20px -14px gray; */
  position: absolute;
  width: 97%;
  bottom: 0;
  padding: 5px;
  left: 0;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  margin:0px 10px;
}

div.msg-box1 .ip-msg1
{
    /* height: 80px; */
    padding-left: 10px !important;

    border-radius: 20px;
  width: 100%;
  font-size: 16px;
  /* padding: 10px; */
  color: white !important;
  border: none;
  background: transparent;
  resize:none;

  outline: none !important;
  border: none !important;
}

div.msg-box1 .ip-msg1::placeholder
{
    font-size: 16px;
  color: gray !important;
}

.botbtn{
    width: 50px;
    margin: 0px 10px;
    cursor: pointer;
}
.switchRoom{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
    margin-right: 0px;
}
.botHeader{
    position: relative;
    display: flex;
    text-align: center;
    height: 55px;
    border-style: none !important;
}
.switchRoom1{
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
    border: 1px solid #5850c0;
    border-radius: 50%;

}
.switchRoom1 svg{
    padding: 5px;
    width: 40px;
}
.roomHead{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.midCon{
    margin-bottom: 70px;
    padding: 10px;
}
.profilebg{
    color: white;
    background: var(--mainGradiantr);
}
.senderProfile{
    color: white;
    background: var(--mainGradiant);
}